In [29]:
import pandas as pd
import numpy as np

In [69]:
df = pd.DataFrame({'Loves Popcorn': ['Yes', 'Yes', 'No', 'No',
                                'Yes', 'Yes', 'No'],
             'Loves Soda' : ['Yes', 'No', 'Yes', 'Yes',
                           'Yes', 'No', 'No'],
             'Age' : [7, 12, 18, 35, 38, 50, 83],
             'Loves Cool As Ice' : ['No', 'No', 'Yes', 'Yes',
                                    'Yes', 'No', 'No']})

In [70]:
#replace categorical columns into numerical
for col in df.columns:
    if df[col].dtype == 'object':
        #df[col].replace(df[col].unique().tolist(), range(0, len(df[col].unique())), inplace=True)
        df[col].replace(['No', 'Yes'], range(0, 2), inplace=True)

In [71]:
print(df)

   Loves Popcorn  Loves Soda  Age  Loves Cool As Ice
0              1           1    7                  0
1              1           0   12                  0
2              0           1   18                  1
3              0           1   35                  1
4              1           1   38                  1
5              1           0   50                  0
6              0           0   83                  0

In [72]:
np_data = np.array(df)

In [82]:
for target in np.unique(np_data[:, -1]):
    print(np.sum( (np_data[:, 0] == 0) & (np_data[:, -1] == target)),
         np.sum( (np_data[:, 0] == 1) & (np_data[:, -1] == target)))

1 3
2 1